{% extends 'html/main.html' %}
{% load static %}
{% block content%}


<h3>Password reset sent</h3>

<style>
    *,
    *:before,
    *:after{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        height: 100vh;
        background:linear-gradient(
            45deg,
            rgba(218,34,255,0.6),
            rgba(151,51,238,0.7)
        ),
        
    }
    h3{ text-align: center;
        font-weight: bold;
        font-style: italic;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: aliceblue;
        text-shadow: 6px;
    
    }
    p{text-align: center;
        font-weight:lighter;
        font-style: italic;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: aliceblue;
    
    }
    
    
    </style>
<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>


{% endblock content %}